---
import Base from "../layouts/Base.astro"

const pageTitle:string = "Blog"
---

<Base pageTitle={pageTitle}>
	<h1>My Post</h1>
	<ul>
		<li><a href="/posts/crypto/">Basic Crypto</a></li>
		<li><a href="/posts/feistel/">Feistel Cipher</a></li>
		<li><a href="/posts/stream-cipher/">Stream Cipher</a></li>
	</ul>
</Base>

