---
const pageTitle:string = "Home"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle} - Blog App</title>
	</head>
	<body>
		<button><a href="/">Home</a></button>
        <button><a href="/about">About</a></button>
        <button><a href="/blog">Blog</a></button>
		<h1>Astro</h1>
	</body>
</html>
